
#sidecar {
	position: fixed;
	background-color: $darkblue;
	transition: all .33s ease;

	@media (min-width: 768px) {
		top: -100%;
		display: block;
		z-index: 9999;
		width: 95vw;
		max-width: 1200px;
		margin: 0 auto;
		left: 50%;
		// transform: translateX(-50%);
		height: 450px;

		>.bg-img:not(.close) {
			position: absolute;
			bottom: 0;
			background-size: contain;
			background-repeat: no-repeat;
			transform: scaleX(-1);
			opacity: .2;

			&.jugg {
				left: 0;
				height: 460px;
				width: 530px;
				background-position: 80px bottom;
			}

			&.spirit {
				right: 0;
				width: 700px;
				height: 500px;
				background-position: -280px 160px;
			}
		}

		.close {
			z-index: 1;
			position: absolute;
			top: -100%;
			left: 50%;
			transform: translateX(-50%);
			background-position: center;
			width: 29px;
			height: 29px;
			cursor: pointer;

			&.active {
				animation: topComin .3s ease .3s;
				animation-fill-mode: forwards;
			}
		}

		@keyframes topComin {
			0% {
				top: -100%;
			}

			100% {
				top: 45px;
			}

		}


		.sidecar-wrapper {
			position: relative;
			padding: 50px 25px;
			height: 100%;

			.player-wrapper {
				position: absolute;
				top: 25px;
				left: 25px;
				display: flex;
				justify-content: space-between;
				align-items: center;

				a .badge-icon {
					width: 80px;
					height: 80px;
					border-radius: 50%;
					background-size: cover;
					background-position: center;
					background-repeat: no-repeat;
				}

				.name-logout {
					a {
						margin-left: 20px;
						display: block;
						color: white;

						&.username span {
							font-size: 30px;
							font-weight: 900;
						}

						&.logout {
							font-family: $mont;
							font-weight: 400;
						}
					}
				}
			}

			a.has-icon {
				display: inline-block;
				display: flex;

				.icon {
					+span {
						color: white;
						font-weight: 700;
						margin-left: 5px;
						letter-spacing: 1px;
					}
				}
			}

			.nav-wrap {
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				justify-content: space-between;
				margin: 150px auto 0 auto;
				width: 60%;

				.list {
					h3 {
						color: white;
						margin-bottom: 30px;
					}

					li {
						a {
							color: white;

							&:hover {
								color: red;
							}
						}
					}
				}
			}
		}

		&.active {
			top: 0;
		}
	}
}